<div class='container'>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>Total de tarjetas por su estado</h2>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            Activa
                        </td>
                        <td scope="row">
                            {{activas}}
                        </td>



                    </tr>
                    <tr>
                        <td scope="row">
                            Deshabilitada
                        </td>


                        <td scope="row">
                            {{eliminadas}}
                        </td>

                    </tr>
                    <tr>
                        <td scope="row">
                            Eliminada
                        </td>
                        <td scope="row">
                            {{deshabilitadas}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Total
                        </th>
                        <th scope="row">
                            {{total}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>